{% extends 'base/base.html' %}
{% block content %}

    <div class="container margin10">
        <form class='form' method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="clientSelect"> Cliente </label>
            <select class="form-control" id="clientSelect" name="client">
                {% for c in clients %}
                    <option value="{{c.pk}}" > {{ c.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="dateInput"> Fecha devolucion </label>
                <input type="date" id="dateInput" class="form-control" name="return_date">
        </div>
        <div id="equipmentsLabels">
            <div class="row">
               <div class="col-md-8"> <strong>Equipamiento </strong> </div>
               <div class="col-md-3"> <strong>Cantidad </strong> </div>
               <div class="col-md-1"> </div>
            </div>
        </div>
        <div id="equipmentsList">
            <div class="row" id="eqRow">
                <div class="col-md-8">
                    <select class="form-control" id="equipmentSelect" name="equipment[]">
                        {% for e in equipments %}
                            <option value="{{e.pk}}" > {{ e.name }} (${{ e.daily_lease_price }})</option>
                        {% endfor %}
                     </select>
                </div>
                <div class="col-md-3">
                    <input class="form-control" type="number" min="1" value="1" name="quantity[]">
                </div>
                 <div class="col-md-1">
                     <span class="fa fa-plus fa-2x" id="add_equipment"> </span>
                </div>
            </div>
        </div>
        <div class="form-group margin10">
            <button value="submit" class="btn btn-success"> Añadir </button>
        </div>
        </form>
    </div>
{% endblock %}

{%  block scripts %}
    <script type="text/javascript">
        $(function(){
           $('#add_equipment').click(function () {
               var $neweq = $('#eqRow').clone()
               $neweq.find('#add_equipment').remove()

               $('#equipmentsList').append($($neweq))
               });
        });
    </script>
{% endblock %}