{%  extends 'base/base.html' %}
{% block content %}
    <div class="container margin10">
        <br>
        <div class="row">
           <a class="btn btn-primary" href="{% url 'equipment_rental:new_leasing' %}"> <span class="fa fa-plus" aria-hidden="true"></span> Nuevo </a>
        </div>
        <br>
        <table class="table table-hover">
        <tr>
            <th>Cliente</th>
            <th>Lease record</th>
            <th>Return record</th>
            <th>Total price</th>
            <th>Equipamiento</th>
            <th>Acciones</th>

        </tr>
        {% for leasing in  leasings %}
            <tr>
            <td> {{leasing.client }}</td>
            <td> {{leasing.lease_record }}</td>
            <td> {{leasing.return_date }}</td>
            <td> {{leasing.total_price }}</td>
            <td> {{leasing.str_equipments}}</td>
            <td>
                <a href="{% url 'equipment_rental:delete_leasing' leasing.pk %}" onclick="return confirm('Desea borrar el registro?')"> <span class="fa fa-lg fa-trash" aria-hidden="true"></span> </a>
            </td>

            </tr>
        {% endfor %}
        </table>
    </div>
{%  endblock %}
